<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{url_for('dashboard')}}">Financial Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Nav links -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portfolio') }}">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts') }}">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('expenses') }}">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('fi') }}">FI</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Tools</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03">
                  <li><a class="dropdown-item" href="#">Compound Interest Calculator</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('documents') }}">Documents </a></li>
                  <li><a class="dropdown-item" href="#">Sinking Fund</a></li>
                </ul>
            </li>
        </ul>

        <!-- User functions -->
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <div class="flex-shrink-0 dropdown">
                    <a class="d-block link-light dropdown-toggle" href="#" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.name }}
                        <img src="{{url_for('static', filename='profile_pics/' + current_user.profile_pic)}}" alt="mdo" width="32" height="32" class="rounded-circle mx-1">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>