<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{url_for('dashboard')}}">Financial Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Nav links -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts') }}">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('balances') }}">Balances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('documents') }}">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('expenses') }}">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('fi') }}">FI</a>
            </li>
        </ul>

        <!-- User functions -->
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}

                <div class="flex-shrink-0 dropdown">
                    <a class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{image_file}}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-110px, 34px);" data-popper-placement="bottom-end">
                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>