{% extends 'layout.html' %}

{% block content %}

<!-- Charts -->
<div class="row mx-auto">

    <!-- Expenses Chart Over Time -->
    <div class="col-xl-8 col-lg-7 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0">Expenses Chart over Time (per calendar month?)</h6>
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="250"></canvas></div>
        </div>
    </div>

    <!-- Expense Categories Chart -->
    <div class="col-xl-4 col-lg-5 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0">Expense Categories Chart</h6>
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="250"></canvas></div>
        </div>
    </div>
</div>


<!-- Example Table (Maybe to use for accounts page)-->
<div class="row mx-auto mb-4">
    <div>
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0">Expenses Breakdown (I'd liked this to be interactive, click to expand category)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Outgoings</th>
                                <th>Daily</th>
                                <th>Weekly</th>
                                <th>Monthly</th>
                                <th>Annually</th>
                                <th>Percentage of Outgoings</th>
                            </tr>
                        </thead>
                        <tfoot>

                            <!-- example data -->
                            {% for account in [("Necessity", "7.02", "49.31", "213.67", "2564.09", "0.3243"),("Discretionary", "14.62", "102.73", "445.15", "5341.77", "0.6757"),("TOTAL", "21.65", "152.04", "658.82", "7905.86", "1")] %}

                            <tr>
                                <th>{{account[0]}}</th>
                                <th>{{account[1]}}</th>
                                <th>{{account[2]}}</th>
                                <th>{{account[3]}}</th>
                                <th>{{account[4]}}</th>
                                <th>{{account[5]}}</th>
                                <th>{{account[6]}}</th>
                            </tr>

                            {% endfor %}
                        </tfoot>
                        <tbody>


                        {% for account in [("Education", "1.6", "11.23", "48.68", "584.18", "0.0739"),("Entertainment", "3.57", "25.1", "108.76", "1305.15", "0.16510000000000002"),("Food", "3.79", "26.63", "115.4", "1384.75", "0.1752"),("Health", "1.11", "7.82", "33.9", "406.82", "0.051500000000000004"),("Hobbies", "0.95", "6.68", "28.95", "347.42", "0.043899999999999995"),("Housing", "0", "0", "0", "0", "0"),("Loans", "0", "0", "0", "0", "0"),("Pets", "0", "0", "0", "0", "0"),("Phone", "0.72", "5.07", "21.98", "263.81", "0.0334"),("Purchases", "0.76", "5.35", "23.2", "278.36", "0.0352"),("Transport", "3.4", "23.89", "103.52", "1242.21", "0.15710000000000002"),("Travel", "3.4", "23.9", "103.56", "1242.71", "0.1572"),("Work", "1.07", "7.53", "32.62", "391.43", "0.0495"),("Miscellaneous", "1.26", "8.83", "38.25", "459.03", "0.0581")] %}

                            <tr>
                                <td>{{account[0]}}</td>
                                <td>{{account[1]}}</td>
                                <td>{{account[2]}}</td>
                                <td>{{account[3]}}</td>
                                <td>{{account[4]}}</td>
                                <td>{{account[5]}}</td>
                                <td>{{account[6]}}</td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}