{% extends 'base/layout.html' %}

{% block content %}
    <!-- Buttons for Form Modals --> 
    <div class="row mx-auto mb-3">
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <!-- Button trigger csvModal -->
            <button type="button" class="btn btn-secondary btn-sm w-100 mx-auto my-1" data-bs-toggle="modal" data-bs-target="#csvModal">
                Add CSV File
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <!-- Button trigger updateAccountModal -->
            <button type="button" class="btn btn-outline-secondary btn-sm w-100 mx-auto my-1" data-bs-toggle="modal" data-bs-target="#updateAccountModal">
                Update Account
            </button>
        </div><div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <!-- Button trigger closeModal -->
            <button type="button" class="btn btn-danger btn-sm w-100 mx-auto my-1" data-bs-toggle="modal" data-bs-target="#closeModal">
                {% if account.date_closed != None %}
                Change Close Details
                {% else %}
                Close Account
                {% endif %}
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <!-- Button trigger deleteModal -->
            <button type="button" class="btn btn-outline-danger btn-sm w-100 mx-auto my-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete Account
            </button>
        </div>
    </div>

    <!-- Account Table-->
    <div class="row mx-auto mb-4">
        <div>
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Account</th>
                                    <th>Type</th>
                                    <th>Date Opened</th>
                                    <th>Date Closed</th>
                                    <th>Credit Limit</th>
                                    <th>Benefit</th>
                                    <th>Benefit Expiry</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{account.account_name}}</td>
                                    <td>{{account.account_type}}</td>
                                    <td>{{account.date_opened}}</td>
                                    <td>{{account.date_closed}}</td>
                                    <td>{{account.currency}} {{account.credit_limit}}</td>
                                    <td>{{account.benefit}}</td>
                                    <td>{{account.benefit_expiry}}</td>
                                    <td>{{account.notes}}</td>
                                </tr>
   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Account CSV-->
    <div class="row mx-auto mb-4">
        <div>
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0">CSV info to mark as different categories</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Category</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                       
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Upload CSV Modal -->
    <div class="modal fade" id="csvModal" tabindex="-1" aria-labelledby="csvModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="csvModalLabel">
                        Upload CSV
                    </h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ csv_form.hidden_tag() }}
                        <div class = "form-group">
                            {% if csv_form.file.errors %}
                                {{ csv_form.file(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in csv_form.file.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ csv_form.file(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ csv_form.submit(class="btn btn-outline-info w-100 mt-3") }}
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>


    <!-- Update Account Modal -->
    <div class="modal fade" id="updateAccountModal" tabindex="-1" aria-labelledby="updateAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAccountModalLabel">Update Account</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="">
                        {{ update_form.hidden_tag() }}
                        <div class = "form-group">
                            {{ update_form.account_name.label(class="form-control-label")}}
                            {% if update_form.account_name.errors %}
                                {{ update_form.account_name(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.account_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.account_name(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.account_type.label(class="form-control-label")}}
                            {% if update_form.account_type.errors %}
                                {{ update_form.account_type(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.account_type.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.account_type(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.currency.label(class="form-control-label")}}
                            {% if update_form.currency.errors %}
                                {{ update_form.currency(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.currency.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.currency(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.date_opened.label(class="form-control-label")}}
                            {% if update_form.date_opened.errors %}
                                {{ update_form.date_opened(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.date_opened.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.date_opened(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.credit_limit.label(class="form-control-label")}}
                            {% if update_form.credit_limit.errors %}
                                {{ update_form.credit_limit(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.credit_limit.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.credit_limit(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.benefit.label(class="form-control-label")}}
                            {% if update_form.benefit.errors %}
                                {{ update_form.benefit(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.benefit.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.benefit(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.benefit_expiry.label(class="form-control-label")}}
                            {% if update_form.benefit_expiry.errors %}
                                {{ update_form.benefit_expiry(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.benefit_expiry.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.benefit_expiry(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.pin.label(class="form-control-label")}}
                            {% if update_form.pin.errors %}
                                {{ update_form.pin(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.pin.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.pin(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.notes.label(class="form-control-label")}}
                            {% if update_form.notes.errors %}
                                {{ update_form.notes(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in update_form.notes.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_form.notes(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ update_form.submit(class="btn btn-outline-info w-100 mt-3") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Close Modal -->
    <div class="modal fade" id="closeModal" tabindex="-1" aria-labelledby="closeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="closeModalLabel">
                        Close account?
                    </h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to close this account?</p>
                    <form method="POST" action="">
                        {{ close_form.hidden_tag() }}
                        <div class = "form-group">
                            {{ close_form.date_closed.label(class="form-control-label")}}
                            {% if close_form.date_closed.errors %}
                                {{ close_form.date_closed(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in close_form.date_closed.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ close_form.date_closed(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class = "form-group">
                            {{ close_form.submit(class="btn btn-outline-info w-100 mt-3") }}
                        </div>
                    </form>

                    {% if account.date_closed != None %}
                    <form action="{{ url_for('accounts.reopen_account', account_id=account.id) }}" method="POST">
                        <input class="btn btn-outline-secondary w-100 mt-1" type="submit" value="Remove Close Date">
                    </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        Delete account?
                    </h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete this account?</p>
                    <p>All information linked to this account will also be deleted, including balance history.</p>
                    <p>If you have closed the account, you should update the account with a closed date instead.</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('accounts.delete_account', account_id=account.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Confirm Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}