{% extends 'base/layout.html' %}

{% block content %}

<p>This site is written using a combination of Python, HTML, and CSS.</p>

<p>For more details, plesae visit the GitHub repository for this site which is linked in the footer.</p>

<h6>Resources Used</h6>
<li><a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">
    Corey Schafer's Python Flask Tutorial Playlist on YouTube
</a></li>
<li><a href="http://exploreflask.com/en/latest/">
    Robert Picard's Explore Flask
</a></li>
<li><a href="https://flask.palletsprojects.com/en/2.1.x/">
    Flask's documentation
</a></li>

{% endblock content %}